#!perl
# $Id: relay-bot.config,v 1.7 2002/10/08 04:15:35 freiheit Exp $
# This is a sample config file; more things will be added to this later.

# Nick/handle/name
$nick = 'relaybot';

# What channels to join; yes, can be used in multiple channels.  One is best.
# (Signons and signoffs have an issue with multiple channels)
@relay_channels = ('#relaybot', '#relay-bot');

%relay_channels_extra = ('#relaybot' => ['#relay-bot'], 
                         '#relay-bot' => ['#relaybot']);

# simple hash -- key is "name", value is actual host to connect to.
# name and value are different because it shouldn't matter to users
# *what* EFnet IRC server is being used, for example.  (also looks better)
# The hash key is displayed to users and (possibly) they'll have to type
# it in, too.
%hosts = (
          # EFNet:
          ef       => [
                       qw/irc.efnet.org irc.rt.ru efnet.cs.hut.fi/
                      ],
          #Undernet:
          under    => [
                       qw/washington.dc.us.undernet.org atlanta.ga.US.Undernet.Org austin.tx.us.undernet.org mclean.va.undernet.org us.undernet.org undernet.org lasvegas.nv.us.undernet.org /
                      ],
          op       => [
                       qw/irc.openprojects.net irc.fandanta.org irc.debian.org irc.nblug.org/
                      ],
          ircnet   => [
                       qw/irc.stealth.net:6660 irc.ludd.luth.se:6661 irc.stealth.net:6661 irc.ludd.luth.se:6663 irc.stealth.net:6662 irc.ludd.luth.se:6668 irc.missingU.com irc.cs.hut.fi irc.asmparty.net hub1.irc.easynet.net irc-1.stealth.net irc-2.stealth.net irc-3.stealth.net irc.ludd.luth.se irc.nl.uu.net/
                      ],
);

my $badpersonpriv = {};
my $normalpriv    = { 'names' => 1 };
my $partjoinpriv  = { %{$normalpriv}, 'part' => 1, 'join' => 1 };
my $operpriv      = { %{$partjoinpriv}, 'restart' => 1, 'quit' => 1, 'op' => 1 };
my $allpriv       = { '*' => 1 };

# Those who may do things.  The first match takes precedence.  Patterns are
# evaluated case-insensitively unless they have capital letters in them.
@authorizations = (
		   # This sets "badperson" for nicks like 'tron', 
		   # AOL users and PSI.net users.
#		   [ '^.?.?tr[o0]n|\.aol\.com|\.psi\.net'  => $badpersonpriv 
#		   ],

		   # The two people that run this bot...
#		   [ '^\w+!~?(aqua|eric)@'
#		     .'atlantic\.devin\.com$' 
#		     => $operpriv 
#		   ],

		   # Their girlfriends...
#		   [ '^\w+!~?(echoes|ramoth)@'
#		     .'atlantic\.devin\.com$' 
#		     => $operpriv 
#		   ],

		   # A fairly decent list of handles people we "like" that
		   # come into our channel
#		   [ '^.?(ligeia|requiem|moppet|diphen|whitebird|aigeanta|proteous|freiheit|falsch|dragongrl).?!' 
#		     => $partjoinpriv 
#		   ],

		   # Everybody else.
		   [ '.' => $normalpriv 
		   ],
);
