#!perl
# $Id: relay-bot.config,v 1.5 2001/07/13 22:56:03 freiheit Exp $
# This is a sample config file; more things will be added to this later.

# Nick/handle/name
$nick = 'relaybot';

# What channels to join; yes, can be used in multiple channels.  One is best.
# (Signons and signoffs have an issue with multiple channels)
@relay_channels = ('#relaybot');

# simple hash -- key is "name", value is actual host to connect to.
# name and value are different because it shouldn't matter to users
# *what* EFnet IRC server is being used, for example.  (also looks better)
# The hash key is displayed to users and (possibly) they'll have to type
# it in, too.
%hosts = (
	  ef       => 'irc.emory.edu',        # EFnet
	  undernet => 'us.undernet.org',      # Undernet
	  op       => 'irc.openprojects.net', # 'irc.openprojects.net',
	  ircnet   => 'irc.stealth.net:6660',
);

my $badpersonpriv = {};
my $normalpriv    = { 'names' => 1 };
my $partjoinpriv  = { %{$normalpriv}, 'part' => 1, 'join' => 1 };
my $operpriv      = { %{$partjoinpriv}, 'restart' => 1, 'quit' => 1, 'op' => 1 };
my $allpriv       = { '*' => 1 };

# Those who may do things.  The first match takes precedence.  Patterns are
# evaluated case-insensitively unless they have capital letters in them.
@authorizations = (
		   # This sets "badperson" for nicks like 'tron', 
		   # AOL users and PSI.net users.
#		   [ '^.?.?tr[o0]n|\.aol\.com|\.psi\.net'  => $badpersonpriv 
#		   ],

		   # The two people that run this bot...
#		   [ '^\w+!~?(aqua|eric)@'
#		     .'adsl-63-197-80-100.dsl\.snfc21\.pacbell\.net$' 
#		     => $operpriv 
#		   ],

		   # Their girlfriends...
#		   [ '^\w+!~?(echoes|ramoth)@'
#		     .'adsl-63-197-80-100.dsl\.snfc21\.pacbell\.net$' 
#		     => $operpriv 
#		   ],

		   # A fairly decent list of handles people we "like" that
		   # come into our channel
#		   [ '^.?(ligeia|requiem|moppet|diphen|whitebird|aigeanta|proteous|freiheit|dragongrl).?!' 
#		     => $partjoinpriv 
#		   ],

		   # Everybody else.
		   [ '.' => $normalpriv 
		   ],
);
